<footer class="bg-gray-800 text-white mt-12 fixed bottom-0 w-full">
    <div class="max-w-6xl mx-auto px-4 py-6">
        <div class="flex justify-between">
            <div>
                <h2 class="text-lg font-bold">Pulsey Development</h2>
                <p class="text-sm">© <%= new Date().getFullYear() %> Pulsey Development. All rights reserved.</p>
            </div>
            <div class="flex">
                <a href="/contact" class="text-white hover:text-gray-400 text-sm mr-4">Contact</a>
                <a href="/tos" class="text-white hover:text-gray-400 text-sm">Terms Of Service</a>
            </div>
        </div>
        <div class="mt-4">
            <a href="https://twitter.com/" target="_blank" class="mr-2">
                <i class='bx bxl-twitter text-xl hover:text-blue-400'></i>
            </a>
            <a href="https://discord.gg/" target="_blank">
                <i class='bx bxl-discord-alt text-xl hover:text-blue-400'></i>
            </a>
        </div>
    </div>
</footer>