<nav class="navbar">
    <div class="navbar-brand">
        <img src="/logo.png" alt="" class="logo">
        <span class="brand-name">Pulsey</span>
    </div>
    <div class="navbar-links">
        <a href="#" class="navbar-btn">Marketplace</a>
        <a href="#" class="navbar-btn">Contact</a>
    </div>
    <div class="navbar-actions">
        <a href="/api/v1/auth/discord" class="navbar-btn login-btn">
            <i class='bx bx-log-in'></i>
            <span>Login</span>
        </a>
    </div>
</nav>