<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Pulsey Development</title>
    <link href="/styles/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.9/css/boxicons.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white flex items-center justify-center h-screen">
    <%- include('partials/navbar.ejs') %>
    <div class="text-center">
        <h1 class="text-6xl font-bold mb-4">404</h1>
        <h2 class="text-xl mb-5">Oops! Page not found.</h2>
        <p class="mb-8">We can't seem to find the page you're looking for.</p>
        <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Go back home
        </a>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>