<% include ('partials/header.ejs') %>
<div class="container mt-5">
    <h2>Purchase Successful</h2>
    <p>Your license key: <code><%= licenseKey %></code></p>
    <p>Thank you for your purchase! Instructions on how to use your new Discord bot will be sent to your email.</p>
</div>
<% include ('partials/footer.ejs') %>